{% extends 'index.html' %}
{% load static %}
{% block body %}

<title>Smart Channeling - About</title>

<style>
	p{
		text-align: left;
	}
</style>

	<!-- about  -->
<section class="about py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="title-section mb-md-5 mb-4">
				<center><h3 class="w3ls-title text-uppercase text-bl font-weight-bold">About Us</h3></center>
			</div><hr/>
			<center>


						<h6 class="subheading-w3ls text-uppercase text-bl mb-4">The Proposed Project</h6>
						<p>The proposed project is a disease prediction system with online doctor consultation. At
the time of covid-19 pandemic situation there are more lockdowns, quarantines and
curfews peoples are unable to do their day to day activities well but Every industry are
going online and doing their works through work from home these days, for health
related issues people must visit hospital or clinic to get a treatment. Due to the pandemic
it is not safe going out which will make us a victim for coronavirus. The main goal of this
project is to create a web based system which will predict diseases using symptoms and
enable users to get remedies or prescription from doctors according to the symptoms and
details provided by user. In addition, the proposed system provides latest health news and
articles based on various categories.</p>
				<p>
The main component in the project is a web application which includes admin, user and
doctor usecases, an attractive homepage with full of news articles and other categories,
admin homepage to manage articles, news and doctors, and more. The web applications
main feature is the system will identify the disease according to user symptoms through
utilizing machine learning algorithm. and also they can consult a doctor. The doctor will
see the user report and give remedies or prescriptions to the user. </p>
				<p>
The proposed project uses technologies such as HTML, JS, CSS, Bootstrap, Python and
Django framework, with Django being the main component which includes SQLite as the
database to store data. This web based app allows users to consult a doctor Smart and
easily</p>

				<div class="col-lg-6 agileits_works-grid1 mt-lg-0 mt-sm-5 mt-4">
					<img src="images/blog1.jpg" alt="" class="img-fluid" />
				</div>
				</center>
		</div>
	</section><br><br>
{% endblock  %}
