{% extends 'index.html' %}
{% load static %}
{% block body %}

<title>Smart Channeling - About</title>

	<!-- about  -->
<section class="about py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="title-section mb-md-5 mb-4">
				<center><h3 class="w3ls-title text-uppercase text-bl font-weight-bold">About Us</h3></center>
			</div><hr/>
			<center>


						<h6 class="subheading-w3ls text-uppercase text-bl mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer semper lorem pretium</h6>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer semper lorem pretium aliquet euismod. In quis congue dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris vel metus porta, vulputate odio vitae, posuere turpis. Curabitur semper, ante in facilisis luctus, metus sapien vehicula ipsum, vel eleifend leo dolor at enim. Vestibulum nibh purus, vestibulum nec ipsum in, tempus dictum ligula. In in arcu eu justo bibendum sagittis nec ut lacus. Aliquam sollicitudin est et consequat egestas. Sed vitae molestie metus. Duis suscipit risus varius vestibulum dictum. Vestibulum consequat finibus enim sit amet finibus. Sed auctor iaculis risus, eu sagittis elit. Ut consequat, eros eu vestibulum volutpat, turpis nibh interdum mi, eu pretium neque elit ac nibh.</p>

				<div class="col-lg-6 agileits_works-grid1 mt-lg-0 mt-sm-5 mt-4">
					<img src="images/blog1.jpg" alt="" class="img-fluid" />
				</div>
				</center>
		</div>
	</section><br><br>
{% endblock  %}
