{% extends 'index.html' %}
{% load static %}
{% block body %}
<title>Smart Channeling - Contact</title>
<div class="map p-2" style="margin-top:6%;border:3px solid lightgray">
		<iframe style="width:100%;height:400px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5521.179481266135!2d79.88986429638989!3d6.908615854052285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae25991e986e3eb%3A0x3220adba43c90115!2sOdel%20Head%20Office!5e0!3m2!1sen!2slk!4v1624963001017!5m2!1sen!2slk"
	allowfullscreen></iframe>

</div>
	<div class="contact-w3l py-5" id="contact">
		<div class="container py-xl-5 py-lg-3">
			<div class="title-section mb-sm-5 mb-4">
				<h6 class="w3ls-title-sub"></h6>
				<h3 class="w3ls-title text-uppercase text-bl font-weight-bold">Contact Us</h3>
			</div>
			<div class="row pt-md-0">
				<div class="col-lg-6 contact-agileits-w3layouts">
					<h4 class="contact-title text-uppercase text-bl mb-sm-4 mb-3">Our Address</h4>
					<h5 class="font-weight-light text-bl">If you have any questions about the services we provide simply use the
						form below. We try and respond to all queries
						and comments within 24 hours.</h5>
					<div class="midd-contact my-xl-5 my-4 pl-4 border-left">
						<h6 class="text-bl mb-2">Address & Direction:</h6>
						<a style="color:#f74420" href="https://g.page/techno-e?share" title="Find us on Google Maps"><i class="fa fa-map-marker"></i> &nbsp;Find us on Google Maps</a>
					</div>
					<p class="para-agileits-w3layouts">
						<i class="fa fa-map-marker pr-3"></i>Gothami Road, Rajagiriya</p>
					<p class="para-agileits-w3layouts my-sm-3 my-2">
						<i class="fa fa-phone pr-3"></i>0123456789</p>
					<p class="para-agileits-w3layouts">
						<i class="fa fa-envelope-open pr-2"></i>
						<a href="mailto:mail@example.com">abc@example.com</a>
					</p>
				</div>
				<div class="col-lg-6 regstr-r-w3-agileits mt-lg-0 mt-5">
					<h4 class="contact-title text-uppercase text-bl mb-sm-4 mb-3">Get in Touch</h4>
					<div class="form-bg-w3ls">
						<form action="#" method="post">
							<div class="form-group">
								<input type="text" name="Name" class="form-control" placeholder="Name" required="">
							</div>
							<div class="form-group">
								<input type="email" name="Email" class="form-control" placeholder="Email" required="">
							</div>
							<div class="form-group">
								<input type="text" name="Subject" class="form-control" placeholder="Subject" required="">
							</div>
							<div class="form-group">
								<textarea name="Message" class="form-control" placeholder="Message" required=""></textarea>
							</div>
							<button style="background:#f74420" type="submit" class="button-w3layouts btn text-uppercase">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
