{% extends 'index.html' %}
{% load static %}
{% block body %}
<title>Smart Channeling - Manage Articles</title>
<style>

    .txt{
        color:black
    }
    .txt:hover{
        text-decoration: underline;
        color: #009879;
    }


</style>

<div class="container-fluid" style="width:90%;margin-top:8%">
                    <div class="container-fluid">
                        <h1 align="center" style="font-weight:bold;font-family:Garamond, serif; color : #E6120E ;margin-top:4%">Manage Articles</h1>
                         </div><hr>
                                <table id="example" class="display tbc" style="width:100%">
                                  <thead>
                                    <tr>
                                      <th>#</th>
                                      <th>Image</th>
                                      <th>Title</th>
<!--                                      <th>Content</th>-->
                                      <th>Category</th>
                                      <th>Date Modified</th>
                                        <th>Action</th>

                                  </tr>
                              </thead>
                              <tbody>
                              {% for i in news %}
                                <tr>
                                  <td>{{forloop.counter}}</td>

                                  <td><img src="{{i.image.url}}" style="width:150px;height:100px"></td>
                                    <td  style="font-size: 25px;" width="400"><a class="txt" href="{% url 'read_article' i.id %}">{{i.title}}</a></td>
<!--                                  <td style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical;">{{i.content}}</td>-->
                                  <td style="font-size: 20px;"> {{i.category}}</td>
                                  <td style="font-size: 20px;"> {{i.date}}</td>
                                  <td style="width:150px">
                                      <a href="{% url 'update_article' i.id %}" ><button class="btn btn-primary"><i class="fa fa-edit"></i></button></a>
<!--                                      <a href="{% url 'delete_news' i.id %}" ><button class=" del btn btn-danger" onclick="return confirm('Are you sure?')"><i class="fa fa-trash-o"></i></button></a></td>-->
                                    <a href="#" onclick="myFunction(this)" data-url="{% url 'delete_news' i.id %}" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Delete">
                                      <button class="btn btn-danger del"><i class="fa fa-trash-o"></i></button></a></td>
                              </tr>
                              {% endfor %}

                               <script>
                                    function myFunction(btn) {
                                            var url = $(btn).data('url');
                                            swal.fire({
                                                title: "Are you sure?",
                                                text: "You will not be able to recover this Article!",
                                                icon: "warning",
                                                showCancelButton: true,
                                                confirmButtonColor: "#E6120E",
                                                confirmButtonText: "Yes, delete it!",
                                                closeOnConfirm: false
                                            }).then((result) => {
                                                  if (result.isConfirmed) {
                                                    $.get(url)
                                                    Swal.fire({
                                                      icon: 'success',
                                                      title: 'Deleted Succesfully',
                                                      showConfirmButton: false,
                                                      timer: 1500
                                                    })
                                                    setTimeout(function(){ window.location="{% url 'manage_article' %}"; }, 1000);

                                                  }
                                                })
                                        };
                              </script>
                          </tbody>
                      </table>
</div><br><br><br><br><br>

{% endblock %}