{% extends 'index.html' %}
{% load static %}
{% block body %}

<section class="about py-5">
    <div style="padding-top: 150px;" class="title-section mb-md-5 mb-4">
        <center><img src="{% static 'images/inbox-animation.gif' %}" width="300" height="200" alt="..."></center><br>
        <h3><center>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</center></h3>

        <br><h5 style="color:grey;"><center>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder</center></h5>

    </div>
</section><br>

{% endblock  %}