{% extends 'index.html' %}
{% load static %}
{% block body %}

<section class="about py-5">
		<div class="container py-xl-5 py-lg-3">
			<div style="padding-top: 50px;" class="title-section mb-md-5 mb-4">


            {% if validlink %}

            <h3 class="w3ls-title text-uppercase text-bl font-weight-bold">Password Reset</h3>
			</div><hr/>

                <p>Please enter your new password twice:</p><br>
                <form action="." method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <br><p><input type="submit" value="Change my password" class="button1" style="width:200px" /></p>
                </form>

            {% else %}
            <br><br><center><img src="{% static 'images/expired.png' %}" width="150" height="150" alt="..."><br>
                <br><br><p style=" padding-top:30px; font-weight:600; font-size:20px;">The password reset link was invalid, possibly because it has
                already been used. Please request a new password reset.</p></center>
            {% endif %}
		</div>
	</section>

{% endblock  %}