{% extends 'index.html' %}
{% load static %}
{% block body %}

<section class="about py-5">
    <div style="padding-top: 150px;" class="title-section mb-md-5 mb-4">
        <center><img src="{% static 'images/tick.gif' %}" width="240" height="180" alt="..."></center><br>
        <h3><center>Password Changed Succesfully</center></h3>
        <br><h5 style="color:grey;"><center>Your password has been set. You can now <a href="{% url 'login' %}">LOGIN</a>.</center></h5>

    </div>
</section><br><br><br>

{% endblock  %}